<%= render partial: 'shared/page_title', locals: { page_title: 'Edit ' + resource_name.to_s.humanize } %>

<div class="row">
  <div class="col-md-4">
    <%= bootstrap_form_for(
          resource, as: resource_name,
          url: registration_path(resource_name),
          inline_errors: false,
          html: { method: :put }
        ) do |f| %>
        <%= f.alert_message t('errors.messages.not_saved') %>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="small">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <%= f.text_field :username, placeholder: 'Username', help: 'Must be at least 5 characters long and contain only letters and numbers' %>
        <%= f.label :password %>
        <div class="small">Leave blank if you don't want to change your password</div>
        <%= f.password_field :password, hide_label: :true, autocomplete: 'off', placeholder: 'Password', help: 'Must be at least 8 characters long' %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', placeholder: 'Password confirmation' %>
        <div class="form-group">
          <%= f.submit 'Update', class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>

<h3>Cancel account</h3>

<p>Permanently delete your account. This action cannot be undone. <%= button_to 'Cancel account', registration_path(resource_name), data: { confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger' %></p>

<%= link_to 'Back', :back %>
