<%= render partial: 'shared/page_title', locals: { page_title: @user.username } %>
<% cache ['User', @user] do %>
  <% protocol_count = @user.protocols.count %>
  <p>
    Authored <%= pluralize(protocol_count, 'protocol') %>
    <%= link_to 'view protocol'.pluralize(protocol_count), protocols_path(u: @user.slug) %>
  </p>
  <p>Member since: <%= @user.created_at %></p>
  <div class="btn-toolbar hide" role="toolbar">
    <%= link_to '#', class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-envelope"></span> Message
    <% end %>
  </div>
<% end %>