<!-- Jumbotron -->
<div class="jumbotron text-center">
  <h1><%= t('views.home.index.brand') %></h1>
  <p class="lead"><%= t('views.home.index.lead') %></p>
    <%= link_to signin_path, class: 'btn btn-social btn-lg btn-github btn-success' do %>
      <i class="fa fa-github"></i> <%= t('views.home.index.link_to_signup') %>
    <% end if current_user.blank? %>
</div>
<% cache 'Home' do %>
  <div class="container">
    <div class="row row-spacer-20">
      <div class="col-md-4">
        <h2><%= t('views.home.index.open_and_free') %></h2>
        <p class="lead"><%= t('views.home.index.open_and_free_lead') %></p>
      </div>
      <div class="col-md-4">
        <h2><%= t('views.home.index.full_administration') %></h2>
        <p class="lead"><%= t('views.home.index.full_administration_lead') %></p>
      </div>
      <div class="col-md-4">
        <h2><%= t('views.home.index.modern_collaboration') %></h2>
        <p class="lead"><%= t('views.home.index.modern_collaboration_lead') %></p>
      </div>
    </div>
    <hr>
    <p class="lead homepage-quote"><%= t('views.home.index.creator_quote') %><small><%= t('views.home.index.creator_name') %></small></p>
  </div>
<% end %>