<!-- Jumbotron -->
<div class="jumbotron">
  <h1><%= t('views.home.index.brand') %></h1>
  <p class="lead"><%= t('views.home.index.lead') %></p>
  <div class="row">
    <div class="col-md-4">
      <%= link_to signin_path, class: 'btn btn-block btn-social btn-lg btn-github' do %>
        <i class="fa fa-github"></i> <%= t('views.home.index.link_to_signup') %>
      <% end if current_user.blank? %>
    </div>
  </div>
</div>
<% cache 'Home' do %>
  <hr>
  <div class="row-fluid">
    <div class="col-md-4">
      <h2><%= t('views.home.index.built_on_github') %></h2>
      <p><%= t('views.home.index.built_on_github_text') %></p>
      <p><a class="btn btn-default" href="/github"><%= t('views.home.index.link_to_github') %></a></p>
    </div>
    <div class="col-md-4">
      <h2><%= t('views.home.index.reproducibility') %></h2>
      <p><%= t('views.home.index.reproducibility_text') %></p>
      <p><a class="btn btn-default" href="http://validation.scienceexchange.com/#/reproducibility-initiative"><%= t('views.home.index.link_to_reproducibility') %></a></p>
    </div>
    <div class="col-md-4">
      <h2><%= t('views.home.index.github_science') %></h2>
      <p><%= t('views.home.index.github_science_text') %></p>
      <p><a class="btn btn-default" href="https://github.com/blog/1840-improving-github-for-science"><%= t('views.home.index.link_to_github_science') %></a></p>
    </div>
  </div>
<% end %>