<%= render partial: 'shared/page_title', locals: { page_title: t('views.static.api.page_title') } %>
<p><%= t('views.static.api.api_desc') %></p>
<p><%= t('views.static.api.api_end_point_html') %></p>
<h3><%= t('views.static.api.api_protocol_title') %></h3>
<script src="https://gist.github.com/scientificprotocols/e7609ba2d41e58e9b10e.js"></script>
<h3><%= t('views.static.api.api_protocols_title') %></h3>
<script src="https://gist.github.com/scientificprotocols/8bcdfe4935c6a07f349b.js"></script>