<%= render partial: 'shared/page_title', locals: { page_title: t('views.static.github.page_title') } %>
<% cache 'Github' do %>
  <h3><%= t('views.static.github.what_is_github') %></h3>
  <p><%= t('views.static.github.what_is_github_text') %></p>
  <h3><%= t('views.static.github.what_is_version_control') %></h3>
  <p><%= t('views.static.github.what_is_version_control_text') %></p>
  <h3><%= t('views.static.github.usage') %></h3>
  <p><%= t('views.static.github.usage_text') %></p>
<% end %>