<%= render partial: 'shared/page_title', locals: { page_title: 'Sign in' } %>

<div class="row">
  <div class="col-md-4">
    <%= link_to user_omniauth_authorize_path(:github), class: 'btn btn-block btn-social btn-lg btn-github' do %>
      <i class="fa fa-github"></i> Sign in with GitHub
    <% end %>
    <h3 class="text-center">Or</h3>
    <%= bootstrap_form_for(
          resource, as: resource_name,
          url: session_path(resource_name),
          inline_errors: false
        ) do |f| %>
      <%= f.alert_message t('errors.messages.not_saved') %>
      <%= f.text_field :login, autofocus: true, placeholder: 'Email or username' %>
      <%= f.password_field :password, autocomplete: 'off', placeholder: 'Password' %>
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
      <% end -%>
      <div class="form-group">
        <%= f.submit 'Sign in', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'devise/shared/links' %>


