<%= bootstrap_form_for(@protocol, inline_errors: false) do |f| %>
  <%= f.alert_message t('errors.messages.not_saved') %>
  <%= f.text_field :title %>
  <%= f.text_area :description, 'data-provide' => 'markdown', rows: '20' %>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
