<%= render partial: 'shared/page_title', locals: { page_title: @protocol.title } %>
<%= render partial: 'tagline', locals: { protocol: @protocol, fork_of: @fork_of } %>
<div class="row">
  <div class="col-md-10">
    <ul class="nav nav-tabs margin-bottom-10">
      <li><%= link_to 'Protocol', @protocol %></li>
      <li class="active"><%= link_to 'Discussion', discussion_protocol_path(@protocol) %></li>
    </ul>
    <%= render partial: 'shared/comments', locals: { comments: @comments } %>
  </div>
  <div class="col-md-2">
    <%= render partial: 'options', locals: {
      back_path: @back_path,
      revision_url: @revision_url,
      gist_starred: @gist_starred,
      protocol: @protocol,
      forkable: @forkable,
      embed_script: @embed_script,
      protocol_manager: @protocol_manager
    } %>
  </div>
</div>