<% if @protocols.blank? %>
  <div class="alert alert-info" role="alert">
    <% if @search.present? %>
      <%= t('info.protocols.no_search_results') %>
    <% elsif @contributor.present? %>
      <%= t('info.protocols.no_contributions', contributor: @contributor.username) %>
    <% else %>
      <%= t('info.protocols.no_protocols') %>
    <% end %>
  </div>
<% end %>
<div class="row">
  <% if @facets.present? %>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <%= link_to 'New protocol', new_protocol_path, class: 'btn btn-success margin-bottom-10' %>
      <%= render partial: 'shared/sort', locals: {
          sort_relevance_url: @sort_relevance_url,
          sort_title_url: @sort_title_url,
          sort_created_at_url: @sort_created_at_url,
          sort_relevance_url_text: @sort_relevance_url_text,
          sort_title_url_text: @sort_title_url_text,
          sort_created_at_url_text: @sort_created_at_url_text,
          search: @search,
          sort: @sort
        } %>
      <%= render partial: 'shared/protocols', locals: {protocols: @protocols} %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= render partial: 'shared/facets', locals: {facets: @facets, params: @params} %>
    </div>
  <% else %>
    <div class="col-md-12">
      <%= link_to 'New protocol', new_protocol_path, class: 'btn btn-success margin-bottom-10' %>
      <%= render partial: 'shared/sort', locals: {
          sort_relevance_url: @sort_relevance_url,
          sort_title_url: @sort_title_url,
          sort_created_at_url: @sort_created_at_url,
          sort_relevance_url_text: @sort_relevance_url_text,
          sort_title_url_text: @sort_title_url_text,
          sort_created_at_url_text: @sort_created_at_url_text,
          search: @search,
          sort: @sort
        } %>
      <%= render partial: 'shared/protocols', locals: {protocols: @protocols} %>
    </div>
  <% end %>
</div>