<% cache ['Protocol', @protocol] do %>
  <%= render partial: 'shared/page_title', locals: { page_title: @protocol.title } %>
  <% if @protocol.tag_list.present? %>
    <div style="margin-bottom: 15px">
      <% @protocol.tag_list.each do |tag| %>
        <span class="label label-default"><%= tag %></span>
      <% end %>
    </div>
  <% end %>
  <%= MARKDOWN.render(@protocol.description).html_safe %>
<% end %>
<div class="btn-toolbar" role="toolbar">
  <%= link_to @back_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span> Back
  <% end %>
  <% if @revision_url.present? %>
    <%= link_to @revision_url, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-tasks"></span> Revisions
    <% end %>
  <% end %>
  <% if @protocol_manager.present? %>
    <%= link_to 'Edit', edit_protocol_path(@protocol), class: 'btn btn-primary' %>
    <%= link_to 'Delete', protocol_path(@protocol), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger' %>
  <% end %>
</div>
