<!DOCTYPE html>
<html>
<head>
  <title>Scientific Protocols - <%= yield_or_default(:title, 'A free and easy way to share scientific protocols') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render partial: 'shared/masthead' %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= render partial: 'shared/footer' %>
  </div>
  <%= javascript_include_tag 'application_footer' %>
</body>
</html>
